mat-sidenav-container {
  height: 100vh; /* Ocupa todo el alto de la pantalla */
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
}

.custom-blue {
  background-color: #292929;
  color: white;
}
