<div class="configuration-wrapper">
  <div class="form-config-container">
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-card-title>Configuration</mat-card-title>
        <p>Administration of reservations</p>

        <form [formGroup]="capacityForm" (ngSubmit)="submit()">
          <mat-form-field appearance="fill">
            <mat-label>frecuency</mat-label>
            <mat-select formControlName="frecuency" required>
              <mat-option [value]="null" disabled
                >Choose a frecuency</mat-option
              >
              <mat-option
                *ngFor="let frecuency of frecuencyOptions"
                [value]="frecuency.value"
              >
                {{ frecuency.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="capacityForm.get('frecuency')?.hasError('required')"
            >
              The frecuency is required.
            </mat-error>
          </mat-form-field>

          <div *ngIf="frecuencySignal() === 'daily'">
            <mat-form-field appearance="fill">
              <mat-label>Capacity</mat-label>
              <input
                matInput
                formControlName="capacity"
                type="number"
                required
              />
              <mat-error
                *ngIf="capacityForm.get('capacity')?.hasError('required')"
              >
                The capacity is required.
              </mat-error>
            </mat-form-field>
            <div>
              <label>Días de servicio</label>

              <div *ngFor="let day of weekdays">
                <mat-checkbox
                  [checked]="isDaySelected(day.value)"
                  (change)="toggleDay(day.value, $event.checked)"
                >
                  {{ day.label }}
                </mat-checkbox>
                
                
                <div *ngIf="getTimesArray(day.value) as timeArray">
                  <div *ngFor="let time of getTypedTimeArray(timeArray); let i = index">
                    <mat-form-field appearance="fill">
                      <mat-label>Horario {{ i + 1 }} de {{ day.label }}</mat-label>
                      <input
                        matInput
                        [formControl]="time"
                        placeholder="Ej. 09:00 - 12:00"
                      />
                      <button
                        mat-icon-button
                        color="warn"
                        (click)="removeTimeSlot(day.value, i)"
                        *ngIf="timeArray.length > 1"
                      >
                        <mat-icon>remove_circle</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                
                  <button
                    mat-stroked-button
                    color="accent"
                    type="button"
                    (click)="addTimeSlot(day.value)"
                  >
                    <mat-icon>add</mat-icon> Agregar horario
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="holidays-section" style="margin-top: 20px;">
              <label>Días inactivos (feriados)</label>
            
              <div *ngFor="let holidayGroup of getTypedHolidayGroupArray(holidays); let i = index" style="margin-bottom: 20px;">
                <div style="display: flex; align-items: center; gap: 10px;">
                  <mat-form-field appearance="fill">
                    <mat-label>Seleccionar fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  
            
                  <button mat-icon-button color="warn" type="button" (click)="removeHoliday(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
            
                <div style="display: flex; gap: 10px; margin-top: 10px;">
                  <mat-form-field appearance="fill" style="flex: 1;">
                    <mat-label>Hora de inicio (opcional)</mat-label>
                    <input matInput type="time" formControlName="startTime">
                  </mat-form-field>
            
                  <mat-form-field appearance="fill" style="flex: 1;">
                    <mat-label>Hora de fin (opcional)</mat-label>
                    <input matInput type="time" formControlName="endTime">
                  </mat-form-field>
                </div>
            
                <mat-divider style="margin: 20px 0;"></mat-divider>
              </div>
            
              <button mat-stroked-button color="accent" type="button" (click)="addHoliday()">
                <mat-icon>add</mat-icon> Agregar fecha
              </button>
            </div> -->
            
            <div class="holidays-section" style="margin-top: 20px;">
              <label>Días inactivos (feriados)</label>
            
              <div formArrayName="holidays">
                <div *ngFor="let holidayGroup of getTypedHolidayGroupArray(holidays); let i = index" [formGroupName]="i" style="margin-bottom: 20px;">
                  <div style="display: flex; align-items: center; gap: 10px;">
                    <mat-form-field appearance="fill">
                      <mat-label>Seleccionar fecha</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
            
                    <button mat-icon-button color="warn" type="button" (click)="removeHoliday(i)">
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </div>
            
                  <div style="display: flex; gap: 10px; margin-top: 10px;">
                    <mat-form-field appearance="fill" style="flex: 1;">
                      <mat-label>Hora de inicio (opcional)</mat-label>
                      <input matInput type="time" formControlName="startTime">
                    </mat-form-field>
            
                    <mat-form-field appearance="fill" style="flex: 1;">
                      <mat-label>Hora de fin (opcional)</mat-label>
                      <input matInput type="time" formControlName="endTime">
                    </mat-form-field>
                  </div>
            
                  <mat-divider style="margin: 20px 0;"></mat-divider>
                </div>
              </div>
            
              <button mat-stroked-button color="accent" type="button" (click)="addHoliday()">
                <mat-icon>add</mat-icon> Agregar fecha
              </button>
            </div>
            
            
            
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="capacityForm.invalid"
          >
            Submit
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>