<div class="configuration-wrapper">
  <div class="form-config-container">
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-card-title>Configuration</mat-card-title>
        <p>Reservation system setup</p>

        <!-- Fuera del form -->
        <mat-form-field appearance="fill">
          <mat-label>Frequency</mat-label>
          <mat-select
            [value]="selectedFrequency"
            (selectionChange)="onFrequencyChange($event.value)"
          >
            <mat-option [value]="''" disabled>Select a frequency</mat-option>
            <mat-option
              *ngFor="let frequency of frequencyOptions"
              [value]="frequency.value"
            >
              {{ frequency.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <form *ngIf="capacityForm" [formGroup]="capacityForm" (ngSubmit)="submit()">
          <!-- Daily configuration -->
           <div *ngIf="selectedFrequency === 'daily'">
            <!-- Capacity -->
            <mat-form-field appearance="fill">
              <mat-label>Capacity</mat-label>
              <input
                matInput
                formControlName="capacity"
                type="number"
                required
              />
              <mat-error
                *ngIf="capacityForm.get('capacity')?.hasError('required')"
              >
                Capacity is required.
              </mat-error>
            </mat-form-field>

            <!-- Service days -->
            <div>
              <label>Service days</label>

              <mat-checkbox
                formControlName="sameScheduleAllDays"
                (change)="applySameScheduleToAll()"
              >
                Use the same schedule for all selected days
              </mat-checkbox>

              <div *ngFor="let day of weekdays">
                <mat-checkbox
                  [checked]="isDaySelected(day.value)"
                  (change)="toggleDay(day.value, $event.checked)"
                >
                  {{ day.label }}
                </mat-checkbox>

                <div *ngIf="getTimesArray(day.value) as timeArray">
                  <div
                    *ngFor="
                      let time of getTypedTimeGroupArray(timeArray);
                      let i = index
                    "
                    [formGroup]="time"
                  >
                    <div style="display: flex; gap: 10px; align-items: center">
                      <mat-form-field appearance="fill" style="flex: 1">
                        <mat-label>Start time</mat-label>
                        <input
                          matInput
                          type="time"
                          formControlName="startTime"
                        />
                      </mat-form-field>

                      <mat-form-field appearance="fill" style="flex: 1">
                        <mat-label>End time</mat-label>
                        <input matInput type="time" formControlName="endTime" />
                      </mat-form-field>

                      <button
                        mat-icon-button
                        color="warn"
                        type="button"
                        (click)="removeTimeSlot(day.value, i)"
                      >
                        <mat-icon>remove_circle</mat-icon>
                      </button>
                    </div>

                    <mat-error *ngIf="time.errors?.['invalidTimeRange']">
                      Start time must be earlier than end time.
                    </mat-error>
                  </div>

                  <button
                    mat-stroked-button
                    color="accent"
                    type="button"
                    (click)="addTimeSlot(day.value)"
                  >
                    <mat-icon>add</mat-icon> Add time slot
                  </button>
                </div>
              </div>
            </div>

            <!-- Holidays -->
            <div class="holidays-section" style="margin-top: 20px">
              <label>Inactive days (holidays)</label>

              <div formArrayName="holidays">
                <div
                  *ngFor="
                    let holidayGroup of getTypedHolidayGroupArray(holidays);
                    let i = index
                  "
                  [formGroupName]="i"
                  style="margin-bottom: 20px"
                >
                  <div style="display: flex; align-items: center; gap: 10px">
                    <mat-form-field appearance="fill">
                      <mat-label>Select date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="date"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <button
                      mat-icon-button
                      color="warn"
                      type="button"
                      (click)="removeHoliday(i)"
                    >
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </div>

                  <div style="display: flex; gap: 10px; margin-top: 10px">
                    <mat-form-field appearance="fill" style="flex: 1">
                      <mat-label>Start time (optional)</mat-label>
                      <input matInput type="time" formControlName="startTime" />
                    </mat-form-field>

                    <mat-form-field appearance="fill" style="flex: 1">
                      <mat-label>End time (optional)</mat-label>
                      <input matInput type="time" formControlName="endTime" />
                    </mat-form-field>
                  </div>

                  <mat-error *ngIf="holidayGroup.errors?.['invalidTimeRange']">
                    Start time must be earlier than end time.
                  </mat-error>

                  <mat-divider style="margin: 20px 0"></mat-divider>
                </div>
              </div>

              <button
                mat-stroked-button
                color="accent"
                type="button"
                (click)="addHoliday()"
              >
                <mat-icon>add</mat-icon> Add date
              </button>
            </div>
          </div>
          <div *ngIf="selectedFrequency === 'interval'">
            <!-- Capacity -->
            <mat-form-field appearance="fill">
              <mat-label>Appointment Duration</mat-label>
              <input
                matInput
                formControlName="appointmentDuration"
                type="number"
                required
              />
              <mat-error
                *ngIf="capacityForm.get('appointmentDuration')?.hasError('required')"
              >
                Capacity is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Break Time Between Appointments</mat-label>
              <input
                matInput
                formControlName="breakTime"
                type="number"
                required
              />
              <mat-error
                *ngIf="capacityForm.get('breakTime')?.hasError('required')"
              >
                Capacity is required.
              </mat-error>
            </mat-form-field>

            <!-- Service days -->
            <div>
              <label>Service days</label>

              <mat-checkbox
                formControlName="sameScheduleAllDays"
                (change)="applySameScheduleToAll()"
              >
                Use the same schedule for all selected days
              </mat-checkbox>

              <div *ngFor="let day of weekdays">
                <mat-checkbox
                  [checked]="isDaySelected(day.value)"
                  (change)="toggleDay(day.value, $event.checked)"
                >
                  {{ day.label }}
                </mat-checkbox>

                <div *ngIf="getTimesArray(day.value) as timeArray">
                  <div
                    *ngFor="
                      let time of getTypedTimeGroupArray(timeArray);
                      let i = index
                    "
                    [formGroup]="time"
                  >
                    <div style="display: flex; gap: 10px; align-items: center">
                      <mat-form-field appearance="fill" style="flex: 1">
                        <mat-label>Start time</mat-label>
                        <input
                          matInput
                          type="time"
                          formControlName="startTime"
                        />
                      </mat-form-field>

                      <mat-form-field appearance="fill" style="flex: 1">
                        <mat-label>End time</mat-label>
                        <input matInput type="time" formControlName="endTime" />
                      </mat-form-field>

                      <button
                        mat-icon-button
                        color="warn"
                        type="button"
                        (click)="removeTimeSlot(day.value, i)"
                      >
                        <mat-icon>remove_circle</mat-icon>
                      </button>
                    </div>

                    <mat-error *ngIf="time.errors?.['invalidTimeRange']">
                      Start time must be earlier than end time.
                    </mat-error>
                  </div>

                  <button
                    mat-stroked-button
                    color="accent"
                    type="button"
                    (click)="addTimeSlot(day.value)"
                  >
                    <mat-icon>add</mat-icon> Add time slot
                  </button>
                </div>
              </div>
            </div>

            <!-- Holidays -->
            <div class="holidays-section" style="margin-top: 20px">
              <label>Inactive days (holidays)</label>

              <div formArrayName="holidays">
                <div
                  *ngFor="
                    let holidayGroup of getTypedHolidayGroupArray(holidays);
                    let i = index
                  "
                  [formGroupName]="i"
                  style="margin-bottom: 20px"
                >
                  <div style="display: flex; align-items: center; gap: 10px">
                    <mat-form-field appearance="fill">
                      <mat-label>Select date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="date"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <button
                      mat-icon-button
                      color="warn"
                      type="button"
                      (click)="removeHoliday(i)"
                    >
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </div>

                  <div style="display: flex; gap: 10px; margin-top: 10px">
                    <mat-form-field appearance="fill" style="flex: 1">
                      <mat-label>Start time (optional)</mat-label>
                      <input matInput type="time" formControlName="startTime" />
                    </mat-form-field>

                    <mat-form-field appearance="fill" style="flex: 1">
                      <mat-label>End time (optional)</mat-label>
                      <input matInput type="time" formControlName="endTime" />
                    </mat-form-field>
                  </div>

                  <mat-error *ngIf="holidayGroup.errors?.['invalidTimeRange']">
                    Start time must be earlier than end time.
                  </mat-error>

                  <mat-divider style="margin: 20px 0"></mat-divider>
                </div>
              </div>

              <button
                mat-stroked-button
                color="accent"
                type="button"
                (click)="addHoliday()"
              >
                <mat-icon>add</mat-icon> Add date
              </button>
            </div>
          </div>

          <!-- Submit button -->
          <button
            mat-raised-button
            color="primary"
            type="submit"
            
          >
            Submit
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
